<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.aiot.module.device.mapper.EventTypeMapper">

    <select id="selectByProductTypeIdAndName" resultType="com.yb.aiot.module.device.entity.EventType">
        select * from event_type where product_info_id = #{productInfoId} and name = #{name};
    </select>

</mapper>
